<html>
  <head>
    <title>{% block title %}{% block siteSection %}Main{% endblock %} - {% block siteTitle %}GeoCam Share{% endblock %}{% endblock %}</title>
    {% block scripts %}
      <script src="{{ MEDIA_URL }}external/js/jquery.min.js" type="text/javascript"></script>
      <script src="{{ MEDIA_URL }}external/js/mootools-classonly.js" type="text/javascript"></script>
      <link href="{{ MEDIA_URL }}geocamCore/css/share.css" rel="stylesheet" type="text/css"/>
    {% endblock %}

    <script type="text/javascript">
      {% block jsSetVars %}
      {% endblock %}

      {% block jsInit %}
      {% endblock %}
    </script>

  </head>
  <body>
    {% block contents %}
    {% endblock %}
  </body>
</html>
