html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{font-family: Helvetica, Arial, sans-serif; font-size:16px; }

.linkButton {
  text-decoration: underline;
  color: #00f;
}

/* tweak jdMenu css style for our font size */
ul.jd_menu li {
  font-size: 16px;
  line-height: 18px;
  height: 17px;
}
ul.jd_menu {
  height: 24px;
}

.captionHeader {
    color: #777;
    text-align: right;
    padding-right: 5px;
}
