*~
\#*
*.pyc
/build
/data
/importData
/sqlite3.db
/sqlite3.db-journal
/settings.py
/sourceme.sh
*--gds.*
*--geocam.*
*--tracking.*
/gigapan
apps/geocamTrack/media/avatars/cache/*.png
apps/geocamTrack/media/avatars/gravatars
apps/geocamTrack/media/avatars/*.png
apps/geocamUtil
