*~
\#*
*.pyc
*--gds.*
*--geocam.*
*--tracking.*
/build
/apps/*/build
/data
/importData
/dev.db
/dev.db-journal
/settings.py
/sourceme.sh
/gigapan
/apps/geocamTrack/media_src/avatars/cache/*.png
/apps/geocamTrack/media_src/avatars/gravatars
/apps/geocamTrack/media_src/avatars/*.png
/apps/geocamUtil
