<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" 
      href="{{ settings.MEDIA_URL }}external/jquery.mobile-1.0a2.min.css" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100%, z-index: 1000 }

  .map-control-ui {
    background: white;
    border: solid black 2px;
    cursor: pointer;
    text-align: center;
  }

  .map-control-text {
    font-family: Arial,sans-serif;
    font-size: 12px;
    padding: 0px 4px;
  }

  .map-control-container {
    padding: 5px;
  }

  .map-info {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(112,112,112)),color-stop(0.51, rgb(94,94,94)),color-stop(0.52, rgb(57,57,57)));
    background: -moz-linear-gradient(center top,rgb(112,112,112) 0%,rgb(94,94,94) 51%,rgb(57,57,57) 52%);
   }
 
   .map-infotext {
     text-shadow: 0 -1px 0 #000;
     color: #fff;
     font-family: Helvetica Neue, Helvetica, arial;
     font-size: 18px;
     line-height: 25px;
     padding: 4px 15px 4px 15px;
     font-weight: bold;
   }

</style>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript"
    src="{{ settings.MEDIA_URL }}external/jquery-1.4.4.min.js">
</script>
<script type="text/javascript"
    src="{{ settings.MEDIA_URL }}external/jquery.mobile-1.0a2.min.js">
</script>
<script type="text/javascript"
    src="{{ settings.MEDIA_URL }}external/infobubble-compiled.js">
</script>
<script type="text/javascript">
  var mapG = null;
  var markersByIdG = {};
  var markerCountG = 0;

  var markerBounds = null;
  var zoomToBounds = true;

  var user = {{ userData|safe }};
  var features = {};

  var infoBubble = new InfoBubble({
    map: mapG,
    content: '<div class="map-infotext">Some label</div>',
    shadowStyle: 0,
    padding: 0,
    backgroundColor: 'rgb(57,57,57)',
    borderRadius: 4,
    arrowSize: 10,
    borderWidth: 1,
    borderColor: '#2c2c2c',
    arrowPosition: 50,
    backgroundClassName: 'map-info',
    disableAnimation: true,
    hideCloseButton: true,
    arrowStyle: 2
  });

  $(infoBubble.c).click(function() {
    feature = infoBubble.geoFeature;
    $('#info-header').text(feature.properties.userName);
    $.mobile.changePage('#info', 'slide', false, true);
    infoBubble.close();
  });

  function handleResourcePositionsResponse(response) {
    if (response.result == null) return;

    markerBounds = new google.maps.LatLngBounds();

    $.each(response.result.features,
      function (i, feature) {
        var pos = new google.maps.LatLng(feature.geometry.coordinates[1],
                                         feature.geometry.coordinates[0]);
        markerBounds.extend(pos);
        var marker = markersByIdG[feature.id];
        if (marker == null) {       
          var name = feature.properties.userName;
          var icon = '../icon/' + name;

          var iconParams = [];

          if (isMobileBrowser())
            iconParams.push('scale=0.65');

          if (user.loggedIn && user.userName == name)
            iconParams.push('color=00ff00');

          if (iconParams.length > 0)
            icon += "?" + iconParams.join('&');

          if (feature.properties.displayName != null) {
            var title = feature.properties.displayName;
          } else {
            var title = feature.properties.userName;
          }

          marker = new google.maps.Marker({
            position: pos,
            title: title,
            icon: icon
          });
          marker.setMap(mapG);
          markersByIdG[feature.id] = marker;
          markerCountG++;

          google.maps.event.addListener(marker, 'click', function() {
            feature = this.geoFeature;
            if (infoBubble.isOpen())
              infoBubble.close();

            infoBubble.geoFeature = feature;
            infoBubble.open(mapG, this);
            infoBubble.setContent('<div class="map-infotext">' + feature.properties.userName + '</div>');
          });
        }

        marker.geoFeature = feature;
        if (!pos.equals(marker.position)) {
          marker.setPosition(pos);
        }
      }
    );

    if (zoomToBounds) {
      zoomToBounds = false;
      mapG.fitBounds(markerBounds);
    }
  }

  function updateResourcePositions() {
    $.getJSON("{{ settings.SCRIPT_NAME }}tracking/resources.json",
              handleResourcePositionsResponse);
  }

  function updateResourcePositionsLoop() {
    updateResourcePositions();
    setTimeout(updateResourcePositionsLoop, 5000);
  }

  function isMobileBrowser() {
    var useragent = navigator.userAgent;
    
    if (useragent.indexOf('iPhone') != -1 ||
        useragent.indexOf('Android') != -1)
    { return true; }

    return false;
  }

  $(function() {
    var latlng = new google.maps.LatLng(37.385715, -122.083986);

    var myOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    if (isMobileBrowser()) {
      $.extend(myOptions, {
        mapTypeControl: true,
        mapTypeControlOptions: {
          style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        }
      });
    }

    // Create map
    mapG = new google.maps.Map($('#map_canvas')[0], myOptions);
    
    // Add ZoomToFit control
    var zoomDiv = document.createElement('DIV');
    var zoomControl = new ZoomToFitControl(mapG, zoomDiv);
    mapG.controls[google.maps.ControlPosition.TOP_RIGHT].push(zoomDiv);
  
    /*
    var height, width;
    $('#page-map').bind('pagebeforehide', function() {
      height = $('#page-map').height();
      width = $('#page-map').width();
    });
    */
  
    $('#page-map').bind('pageshow', function() {
      google.maps.event.trigger(mapG, 'resize');
    });

    updateResourcePositionsLoop();
  });

  function ZoomToFitControl(map, div) {
    this.map = map;
    this.div = div;

    $(div).addClass('map-control-container');
    var control = $('<div />').addClass('map-control-ui');
    var text = $('<div>Zoom To Fit</div>').addClass('map-control-text');

    var _ = this;
    control.click(function() {
      if (markerBounds == null) return;

      _.map.setCenter(markerBounds.getCenter());
      _.map.fitBounds(markerBounds);
    })

    $(div).append(control.append(text));
  }

  // Hide URL bar
  /*
  $(document).ready(function(){
    setTimeout(function() { 
      scrollTo(0, window.innerHeight);
    }, 200);

    $('#map_canvas').height($(window).height() + 'px');
    $(document).resize(function() {
      $('#map_canvas').height($(window).outerHeight() + 'px');
    });
  });
  */

</script>
</head>
<body>
  
  <div id="page-map" data-role="page" style="width: 100%; height: 100%;">
    <div data-role="content" style="height: 100%; width: 100%; padding: 0px;">
      <div id="map_canvas" style="height: 100%; width: 100%"></div>
    </div>
  </div>
  
  <div id="info" data-role="page">
    <div data-role="header"><h1 id="info-header">Test</h1></div>
    <div data-role="content" id="info-content">
        <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">Information</li>
          <li class="ui-grid-a">
            <div class="ui-block-a">
              Location
            </div>
            <div class="ui-block-b" style="font-weight: normal">
              <span id="info-latitude">37.1337</span>,
              <span id="info-longitude">-122.666</span>
            </div>
          </li>
        </ul>
    </div>
  </div>

</body>
</html>
