<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript"
    src="{{ settings.MEDIA_URL }}external/jquery.min.js">
</script>
<script type="text/javascript">
  var mapG = null;
  var markersByIdG = {};
  var markerCountG = 0;

  function handleResourcePositionsResponse(response) {
    if (response.result != null) {
      $.each(response.result.features,
             function (i, feature) {
               var pos = new google.maps.LatLng(feature.geometry.coordinates[1],
                                                feature.geometry.coordinates[0]);
               var marker = markersByIdG[feature.id];
               if (marker == null) {
                 /*
                 if (markerCountG < 26) {
                   var letter = String.fromCharCode(65 + markerCountG);
                   var icon = 'http://maps.google.com/mapfiles/marker' + letter + '.png';
                 } else {
                   var icon = 'http://maps.google.com/mapfiles/marker.png';
                 }
                 */
       
                 var name = feature.properties.userName;
                 var icon = '../icon/' + name;

                 if (isMobileBrowser())
                   icon += '?scale=0.65';
                 
                 if (feature.properties.displayName != null) {
                   var title = feature.properties.displayName;
                 } else {
                   var title = feature.properties.userName;
                 }

                 marker = new google.maps.Marker({
                   position: pos,
                   title: title,
                   icon: icon
                   });
                 marker.setMap(mapG);
                 markersByIdG[feature.id] = marker;
                 markerCountG++;
               }
               if (!pos.equals(marker.position)) {
                 marker.setPosition(pos);
               }
             });
    }
  }

  function updateResourcePositions() {
    $.getJSON("{{ settings.SCRIPT_NAME }}tracking/resources.json",
              handleResourcePositionsResponse);
  }

  function updateResourcePositionsLoop() {
    updateResourcePositions();
    setTimeout(updateResourcePositionsLoop, 5000);
  }

  function isMobileBrowser() {
    var useragent = navigator.userAgent;
    
    if (useragent.indexOf('iPhone') != -1 ||
        useragent.indexOf('Android') != -1)
    { return true; }

    return false;
  }

  $(function() {
    var latlng = new google.maps.LatLng(37.385715, -122.083986);
    var myOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    if (isMobileBrowser()) {
      $.extend(myOptions, {
        mapTypeControl: true,
        mapTypeControlOptions: {
          style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        }
      });
    }

    mapG = new google.maps.Map($('#map_canvas')[0], myOptions);
    updateResourcePositionsLoop();
  });

</script>
</head>
<body>
  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>
