<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100% }

  .map-control-ui {
    background: white;
    border: solid black 2px;
    cursor: pointer;
    text-align: center;
  }

  .map-control-text {
    font-family: Arial,sans-serif;
    font-size: 12px;
    padding: 0px 4px;
  }

  .map-control-container {
    padding: 5px;
  }
</style>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript"
    src="{{ settings.MEDIA_URL }}external/jquery.min.js">
</script>
<script type="text/javascript">
  var mapG = null;
  var markersByIdG = {};
  var markerCountG = 0;

  var markerBounds = null;
  var zoomToBounds = true;

  var user = {{ userData|safe }};

  function handleResourcePositionsResponse(response) {
    if (response.result == null) return;

    markerBounds = new google.maps.LatLngBounds();

    $.each(response.result.features,
      function (i, feature) {
        var pos = new google.maps.LatLng(feature.geometry.coordinates[1],
                                         feature.geometry.coordinates[0]);
        markerBounds.extend(pos);
        var marker = markersByIdG[feature.id];
        if (marker == null) {       
          var name = feature.properties.userName;
          var icon = '../icon/' + name;

          var iconParams = [];

          if (isMobileBrowser())
            iconParams.push('scale=0.65');

          if (user.loggedIn && user.userName == name)
            iconParams.push('color=00ff00');

          if (iconParams.length > 0)
            icon += "?" + iconParams.join('&');

          if (feature.properties.displayName != null) {
            var title = feature.properties.displayName;
          } else {
            var title = feature.properties.userName;
          }

          marker = new google.maps.Marker({
            position: pos,
            title: title,
            icon: icon
          });
          marker.setMap(mapG);
          markersByIdG[feature.id] = marker;
          markerCountG++;
        }

        if (!pos.equals(marker.position)) {
          marker.setPosition(pos);
        }
      }
    );

    if (zoomToBounds) {
      zoomToBounds = false;
      mapG.fitBounds(markerBounds);
    }
  }

  function updateResourcePositions() {
    $.getJSON("{{ settings.SCRIPT_NAME }}tracking/resources.json",
              handleResourcePositionsResponse);
  }

  function updateResourcePositionsLoop() {
    updateResourcePositions();
    setTimeout(updateResourcePositionsLoop, 5000);
  }

  function isMobileBrowser() {
    var useragent = navigator.userAgent;
    
    if (useragent.indexOf('iPhone') != -1 ||
        useragent.indexOf('Android') != -1)
    { return true; }

    return false;
  }

  $(function() {
    var latlng = new google.maps.LatLng(37.385715, -122.083986);
    var myOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    if (isMobileBrowser()) {
      $.extend(myOptions, {
        mapTypeControl: true,
        mapTypeControlOptions: {
          style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        }
      });
    }

    // Create map
    mapG = new google.maps.Map($('#map_canvas')[0], myOptions);
    
    // Add ZoomToFit control
    var zoomDiv = document.createElement('DIV');
    var zoomControl = new ZoomToFitControl(mapG, zoomDiv);
    mapG.controls[google.maps.ControlPosition.TOP_RIGHT].push(zoomDiv);

    updateResourcePositionsLoop();
  });

  function ZoomToFitControl(map, div) {
    this.map = map;
    this.div = div;

    $(div).addClass('map-control-container');
    var control = $('<div />').addClass('map-control-ui');
    var text = $('<div>Zoom To Fit</div>').addClass('map-control-text');

    var _ = this;
    control.click(function() {
      if (markerBounds == null) return;

      _.map.setCenter(markerBounds.getCenter());
      _.map.fitBounds(markerBounds);
    })

    $(div).append(control.append(text));
  }

  // Hide URL bar
  /*
  $(document).ready(function(){
    setTimeout(function() { 
      scrollTo(0, window.innerHeight);
    }, 200);

    $('#map_canvas').height($(window).height() + 'px');
    $(document).resize(function() {
      $('#map_canvas').height($(window).outerHeight() + 'px');
    });
  });
  */

</script>
</head>
<body>
  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>
