
<form
  id="editImage"
  method="post" 
  action="."
  style="display: inline">

  <div id="ajaxFormEditStatus"></div>

  <table style="margin-bottom: 10px;">
  {% for field in form %}
      <tr>
        <td id="{{ field.html_name }}_label" class="mapSidebarFormField">{{ field.label_tag|lower }}</td>
        <td>
          <div id="{{ field.html_name }}_error">{{ field.errors }}</div>
          <div>{{ field }}</div>
        </td>
      </tr>
  {% endfor %}
  </table>
  <div>
    <input class="submitButton"
           type="submit"
           name="submit"
           value="Save Changes"/>
    <a id="editImageCancel"
       class="cancelLink"
       href=".">
     Cancel</a>
  </div>
</form>



