# __BEGIN_LICENSE__
# Copyright (C) 2008-2010 United States Government as represented by
# the Administrator of the National Aeronautics and Space Administration.
# All Rights Reserved.
# __END_LICENSE__

# This is a pip requirements file
# http://pip.openplans.org/requirement-format.html

Django==1.2.1
PIL==1.1.7
django-digest==1.9
django-tagging==0.3.1
docutils==0.6
iso8601==0.1.4
pyproj==1.8.6
python-digest==1.5
pytz==2010k
rdflib==2.4.2

# needed only for shareLatitude
httplib2==0.6.0
oauth2==1.2.0

# basic install db backend
pysqlite==2.5.5

# advanced install db backend
# MySQL-python==1.2.2

# needed only for unit testing django-digest
# mocker==1.0
# decorator==3.3.0
