<html>
  <head>
    <title>Science Interface - Robots at Haughton</title>
    <script src="{{ MEDIA_URL }}share/jquery.min.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}share/jquery.dimensions.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}share/jquery.positionBy.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}share/jquery.bgiframe.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}share/jquery.jdMenu.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}share/jquery.jdMenu.css" type="text/css"/>

    <script src="http://google.com/jsapi?key=ABQIAAAA3x7Jz7nhzN9_EXEIC6kyphT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQp5ZlyWcOJbbxK5EjhctHlpy74Lw" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}share/geo-pack.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}share/extensions-pack.js" type="text/javascript"></script>

    <link href="{{ MEDIA_URL }}share/share.css" rel="stylesheet" type="text/css"/>
    <script src="{{ MEDIA_URL }}share/share.js" type="text/javascript"></script>
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
    {% block contents %}
    {% endblock %}
  </body>
</html>
