html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{font-family: Helvetica, Arial, sans-serif; font-size:16px; }

.linkButton {
  text-decoration: underline;
  color: #00f;
}

/* tweak jdMenu css style for our font size */
ul.jd_menu li {
  font-size: 16px;
  line-height: 18px;
  height: 17px;
}
ul.jd_menu {
  height: 24px;
}

.captionHeader {
    color: #777;
    text-align: right;
    padding-right: 5px;
}

.successStatus {
  padding-bottom: 10px;
  font-weight: bold;
  color: #090;
}

.pendingStatus {
  padding-bottom: 10px;
  font-weight: bold;
  color: #000;
}

.errorStatus {
  padding-bottom: 10px;
  font-weight: bold;
  color: #c00;
}

.formError {
  font-weight: bold;
  color: #c00;
  padding-top: 10px;
}

.mapSidebarFormField {
  vertical-align: bottom;
  text-align: right;
  color: #777;
  padding-right: 5px;
}

.loadingIcon {
  margin-right: 5px;
  vertical-align: middle;
}

.submitButton {
  font-size: 1.3em;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.cancelLink {
  font-size: 0.8em;
  text-align: right;
  vertical-align: middle;
}
