{% extends "base.html" %}

{% block jsSetVars %}
  SCRIPT_NAME = "{{ request.META.SCRIPT_NAME }}";
  MEDIA_URL = "{{ settings.MEDIA_URL }}";
  SERVER_ROOT_URL = "{{ SERVER_ROOT_URL }}";
  GALLERY_PAGE_COLS = {{ settings.GALLERY_PAGE_COLS }};
  GALLERY_PAGE_ROWS = {{ settings.GALLERY_PAGE_ROWS }};
  GALLERY_THUMB_SIZE = {{ settings.GALLERY_THUMB_SIZE }};
  DESC_THUMB_SIZE = {{ settings.DESC_THUMB_SIZE }};
{% endblock %}

{% block contents %}

  <table style="width: 100%; height: 100%;">
    <tr><td colspan="2" style="font-size: 1.2em; font-weight: bold;">{% block siteTitle %}GeoCam Share{% endblock %} - {% block siteSection %}Main{% endblock %}</td></tr>
    <tr style="height: 100%;">
      <td>{% include "mapPane.html" %}</td>
      <td style="width: 520px; vertical-align: top; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
        <div id="gallery">
          Loading...
        </div>
        <div id="caption">
        </div>
      </td>
    </tr>
  </table>
{% endblock %}
