<style type="text/css">
  p {
    font-family: sans-serif;
  }
</style>

<p>
{% if profile.oauthToken %}

<p><b><font color="green">You have already authorized Share to monitor your position using Google Latitude.</font></b></p>

<p>However, if you want to get new access tokens, you can go through the authorization process again.</p>

{% else %}

<p>Press the button below to authorize Share to monitor your position using Google Latitude.  You will be
redirected to the Latitude web page to confirm the request.</p>

{% endif %}
</p>

<p>
<input style="font-size: 3em; font-weight: bold;" type="submit"
 value="Authorize &raquo;"
 onclick="location.href = '../signup2/'"
 />
</p>
